pkgbase = jdk21-temurin
	pkgdesc = Temurin 21 (OpenJDK 21 Java binaries by Adoptium, formerly AdoptOpenJDK)
	pkgver = 21.u35
	pkgrel = 1
	url = https://adoptium.net/
	install = install_jdk21-temurin.sh
	arch = x86_64
	license = custom
	depends = java-runtime-common>=3
	depends = java-environment-common
	depends = ca-certificates-utils
	depends = desktop-file-utils
	depends = libxrender
	depends = libxtst
	depends = alsa-lib
	optdepends = gtk2: for the Gtk+ 2 look and feel
	optdepends = gtk3: for the Gtk+ 3 look and feel
	provides = java-runtime-headless=21
	provides = java-runtime-headless-openjdk=21
	provides = jre17-openjdk-headless=21.u35
	provides = jre-openjdk-headless=21.u35
	provides = java-runtime=21
	provides = java-runtime-openjdk=21
	provides = jre17-openjdk=21.u35
	provides = jre-openjdk=21.u35
	provides = java-environment=21
	provides = java-environment-openjdk=21
	provides = jdk21-openjdk=21.u35
	provides = jdk-openjdk=21.u35
	provides = openjdk21-src=21.u35
	provides = openjdk-src=21.u35
	options = !strip
	backup = etc/java-21-temurin/logging.properties
	backup = etc/java-21-temurin/management/jmxremote.access
	backup = etc/java-21-temurin/management/jmxremote.password.template
	backup = etc/java-21-temurin/management/management.properties
	backup = etc/java-21-temurin/net.properties
	backup = etc/java-21-temurin/sdp/sdp.conf.template
	backup = etc/java-21-temurin/security/java.policy
	backup = etc/java-21-temurin/security/java.security
	backup = etc/java-21-temurin/security/policy/limited/default_local.policy
	backup = etc/java-21-temurin/security/policy/limited/default_US_export.policy
	backup = etc/java-21-temurin/security/policy/limited/exempt_local.policy
	backup = etc/java-21-temurin/security/policy/README.txt
	backup = etc/java-21-temurin/security/policy/unlimited/default_local.policy
	backup = etc/java-21-temurin/security/policy/unlimited/default_US_export.policy
	backup = etc/java-21-temurin/sound.properties
	source = https://github.com/adoptium/temurin21-binaries/releases/download/jdk-21%2B35/OpenJDK21U-jdk_x64_linux_hotspot_21_35.tar.gz 
	source = freedesktop-java.desktop
	source = freedesktop-jconsole.desktop
	source = freedesktop-jshell.desktop
	sha256sums = 82f64c53acaa045370d6762ebd7441b74e6fda14b464d54d1ff8ca941ec069e6 
	sha256sums = ae076317d93a389cc0c893fd9ec6769ae860c2cc01f8c8bed3f4ee476c73e625
	sha256sums = dc278160ca7df32bcfab0a5420c09eaf6f4602d30f57b6c5bedb0f60062c5228
	sha256sums = d0913ae3b9f469f8567432b0867222d66f50008c313f5a0882d15994ba19ec01

pkgname = jdk21-temurin
